*.*
prototype/src/Lib/
prototype/src/Include/
prototype/src/Scripts/
prototype/src/__pycache__/
prototype/test/Lib/
prototype/test/Include/
prototype/test/Scripts/
prototype/test/__pycache__/
prototype/test/UnitTesting/__pycache__/

!prototype/*.sh
!prototype/src/
!prototype/src/
!prototype/test/
!prototype/test/UnitTesting/
!*.py
!OWTP.dll
!.gitignore
